@media only screen and (max-width : 1201px){
    .hero-text-box{
        width: 100%;
        padding: 2%;
    }
    body{
        font-size: 20px;
    }
    footer{
        padding: 20px;
    }
    .main-nav{
        font-size: 20px;
    }
}
@media only screen and (max-width : 1024px){
    section{
        padding: 60px 0;
    }
    .section-features{
        font-size: 18px;
    }
    body{
        font-size: 18px;
    }
    .row{
        width: 100%;
    }
    .icon{
        font-size: 300%;
    }
}
@media only screen and (max-width : 768px ){
    body{
        width: 100%;
        font-size: 15px;
    }
    .row{
        width: 100%;
    }
    .logo{
        height: 50px;
    }
    section{
        padding: 40px 0;
    }
    .long-copy{
        width: 74%;
        font-size: 15px;
    }
    .city_features{
        font-size: 14px;
    }
    .price-meal{
        font-size: 200%;
    }
    .offers-apply{
        font-size: 13px;
    }
    .btn-app img{
        width: auto;
        height: 40px;
    }
    h3{
        font-size: 80%;
        font-weight: 500;
    }
    header{
        background-size: cover;
    }
    .icon{
        font-size: 250%;
    }
    .work_step{
       vertical-align: middle;
    }
    .work_step div{
        border: 2px solid #e67e22;
        height: 40px;
        width: 40px;
    }
    .footernav,.social{
        font-size: 14px;
    }
    .contact-form{
        width: 70%;
        height: 100%;
    }
    .main-nav li a{
        font-size: 70% !important;
    }
}
@media only screen and (max-width : 426px){
    .row{
        width: 100%;
    }
    .logo{
        height: 40px;
        width: auto;
        margin: 10px 0 0 20px;
    }
    body{
        font-size: 10px;
    }
    h2{
        font-size: 20px;
    }
    .main-nav{
        font-size: 13px;
        margin-top: 30px;
    }
    .main-nav li{
        margin-right: 5px;
    }
    section{
        padding: 20px 0;
    }
    h2::after{
        margin-top: 10px;
    }
    .long-copy{
        font-size: 10px;
        width: 90%;
        margin: 0 0 30px 30px;
    }
    .phone_image{
        width: 20%;
    }
    .work_step div{
        height: 20px;
        width: 20px;
        border: 1px solid #e67e22;
        font-size: 120%;
        margin-right: 10px;
        padding: 2px;
        position: relative;
        top: 3px;
    }
    .work_step:last-of-type{
        margin-bottom: 40px;
    }
    .work_step p{
        font-size: 14px;
    }
    .btn-app img{
        height: 30px;
        width: auto;
        margin: 3px;
        border-radius: 5px;
    }
    .section_cites{
        width: 100%;
        height: auto;
    }
    .city_features{
        font-size: 14px;
    }
    h3{
        font-size: 15px;
    }
    blockquote{
        margin-top: 20px;
    }
    cite{
        margin-top:10px;
    }
    blockquote::before{
        margin-top: 10px;
    }
    .plan-box{
        width: 100%;
    }
    .btn{
        font-size: 10px;
        padding: 10px 20px !important;
    }
    .btn1{
        margin-right: 10px !important;
    }
    .plan-box{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    input[type="text"],input[type="email"],select,textarea,input[type="submit"],input[type="checkbox"]{
        width: 50%;
        float:right;
    }
    .contact-form label{
        font-size: 15px;
        position: relative;
        top: 20px;
    }
    input[type="checkbox"]{
        position: relative;
        right: 60px;
    }
    input[type="submit"]{
        position: relative;
        right: 70px;
    }
    .footernav,.social{
        font-size: 7px;
    }
    .social{
        position: relative;
        bottom: 10px;
    }
    .footernav li,.social li{
        margin-right: 10px;
    }
    footer{
        padding: 10px;
    }

}